<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }} - Speed Mensa</title
    <link rel="stylesheet" href="style.css">
  </head>
    <body>
      <header>
        <div class="container">
          <nav>
            <h1> Speed Mensa </h1>
            <ul>
              <li>Accedi</li>
              <li>Registrati</li>
              <li>Home</li>
              <li>Profilo</li>
              <li>Esci</li>
            </ul>
          </nav>
        </div>
      </header>
    </body>
</html>
