{% extends "base.html" %} {% block content %}
<div class="form-container">
  <h1>Reimposta Password</h1>
  <p>Inserisci la tua nuova password.</p>

  <form action="" method="post">
    {{ form.hidden_tag() }}

    <p>
      {{ form.password.label }}<br />
      {{ form.password(size=32) }} {% for error in form.password.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </p>

    <p>
      {{ form.password2.label }}<br />
      {{ form.password2(size=32) }} {% for error in form.password2.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </p>

    <p>{{ form.submit(class="submit-btn") }}</p>
  </form>
</div>
{% endblock %}
